:root{

    --primary: #222831;
    --secondary: #393E46;
    --tertiary: #FFD369;
    --font-color: #EEEEEE;
    --font-links: 20px;
    --blue-highlight: #6995FF
}


.index_phys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr  1fr;
    gap: 1vw;
}

@media only screen and (max-width: 668px){
    .grid-col-span-2{
        grid-column: span 1;
        grid-row: span 2;
    }

    .index_comp{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2,1fr);
        gap: 1vw;
    }

    .index_comp .sub-sub{
        max-width: 45vw;
    }
}