:root{

    --primary: #222831;
    --secondary: #393E46;
    --tertiary: #FFD369;
    --font-color: #EEEEEE;
    --font-links: 20px;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;    
}

body{
    background: var(--secondary);
    min-height: 100vh;
    overflow-x: hidden;
}


.grid{
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 111px 1fr;
    height: 100vh;
    width: 100vw;
    }

.left-box{
    display: flex;
    position: relative;
    overflow: hidden;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    z-index: 1;
    overflow: visible;
}

.main-content{
    position: relative;
    width: 100%;
    background: var(--secondary);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    z-index: 0;
}

.left-box .sidebar{
    position: fixed;
    background: var(--primary);
    height: 100%;
    width: 250px;
    padding-top: 25px;
    border-right: 1px solid var(--font-color);
    border-bottom: 1px solid var(--font-color)
}

.sidebar-title{
    font-size: 50px;
    font-weight: 200;
}

.left-box .sidebar .sidebar-title{
    color: var(--font-color);
    margin-left: 15px;
    margin-bottom: 25px;
}

.left-box .sidebar ul li{
    position: relative;
    text-decoration: none;
    list-style: none;
    height: 110px;
    padding-inline: 25px;
    padding-block: 35px;
    border-top: 1px solid var(--font-color);
    transition: all 200ms ease-in;
}

.left-box .sidebar ul li:hover,
.left-box .sidebar ul li:focus{
    background: var(--tertiary);
    color: var(--primary);
   
}

.left-box .sidebar ul li .main-link{
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    position: absolute;
    padding-inline: 25px;
    padding-block: 35px;
    font-size: var(--font-links);
    text-decoration: none;    
    display: block;
    transition: all 100ms ease-in;
}

.left-box .sidebar ul li .inactive{
    color: var(--font-color);
}

.left-box .sidebar ul li .Home{
    color: var(--primary);
}

.left-box .sidebar ul li:hover .main-link,
.left-box .sidebar ul li:focus .main-link{
    color: var(--primary);
}


.horizontal-nav{
    display: none;
    transition: display 500ms ease;
}

.left-box .sidebar .log-in-button{
    position: absolute;
    width: 150px;
    height: 60px;
    color: var(--font-color);
    background: var(--secondary);
    bottom: 20px;
    left: 45px;
    text-align: center;
    padding-block: 20px;
    text-decoration: none;
    transition: background 100ms ease-in;
}

.left-box .sidebar .log-in-button:hover{
    color: var(--primary);
    background: var(--tertiary);
}



@media only screen and (max-width: 1000px) {

    .main-content{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }


    .left-box{
        border-bottom: 1px solid var(--font-color);
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .left-box .sidebar{
        position: relative;
        background: var(--primary);
        height: 110px;
        width: 100%;
        padding: 25px 0;
        border-right: none;
    }

    .left-box .sidebar .sidebar-title{
        width: 300px;
        text-align: left;
    }

    .left-box .sidebar ul {
        position: relative;
    }

    .left-box .sidebar ul li{
        display: none;
        border-top: none;
    }

    .left-box .sidebar ul li .main-link{
        display: none;  
    }

    .left-box .sidebar ul .horizontal-nav,
    .left-box .sidebar ul .horizontal-nav .horizontal-button{
        display: block;
    }

    .left-box .sidebar ul .horizontal-nav{

        position: absolute;
        width: 16.6vw;
        height: 111px;
        z-index: 99;
        top: -110px;        
        padding: 0px;
        border-left: 1px solid var(--font-color);

    }

    .left-box .sidebar ul .horizontal-nav .horizontal-button{
        padding: 40px 5.5vw;
    }

    .left-box .sidebar ul .Home{
        left: 50vw;
        color: var(--primary);
        background: var(--tertiary);
    }
    .left-box .sidebar ul .Topics{
        position: absolute;
        display: inline-block;
        left: 66.6vw;
        
    }

    .left-box .sidebar ul .Topics .dropdown{
        position: relative;
        background:var(--primary);
        width: 25vw ;
        height:calc(4*110px);
        transform: translateY(90px);
        opacity: 0%;
        transition: all 200ms ease-in;
        pointer-events: none;
        border-left: var(--font-color) solid 1px;
        border-bottom: var(--font-color) solid 1px;
        border-right: var(--font-color) solid 1px;
    }

    .left-box .sidebar ul .Topics .dropdown a{
        position:absolute;
        width: 100%;
        height: 110px;
        padding-block: 45px;
        color: var(--font-color);
        border-top: 1px solid var(--font-color);
        text-align: center;
        text-decoration: none;
        font-size: var(--font-links);
        transition: all 100ms ease-in;
    }

    .left-box .sidebar ul .Topics .dropdown a:hover{
        background-color: var(--tertiary);
        color: var(--primary);
    }

    .left-box .sidebar ul .Topics:hover .dropdown{
        transform: translateY(111px);
        opacity: 100%;
        pointer-events: auto;
    }
    
    .nav-Physics{
        z-index: 18;
        top: 110px;
    }

    .nav-Maths{
        z-index: 19;
        top: 220px;
    }

    .nav-Astro{
        z-index: 20;
        bottom: 0%;
    }

    .left-box .sidebar .log-in-button{
        left: 85.3vw;
        width: 12.6vw;
        padding-block: 19px;
    }
}