{% extends 'learn/base.html' %}
{% load static %}

{% block title_block %}
	Computing Science
{% endblock %}

{% block body_block %}
	<div class="grid-container">
		<div class="topic-title grid-col-span-2"><h1>Computing Science</h1></div>
		<div class="index_comp grid-col-span-2 ">
			<a class="sub-sub" href="#Text-as-Data"><img src="/static/Images/Thermal.png"><p>Text as Data</p></a>
			<a class="sub-sub" href="#Programming-Languages"><img src="/static/Images/Programming_Languages.png"><p>Programming Languages</p></a>
			<a class="sub-sub" href="#Data-Fundamentals"><img src="/static/Images/Electricity.png"><p>Data Fundamentals</p></a>
			<a class="sub-sub" href="#Algorithmics"><img src="/static/Images/Oscillating_Systems.png"><p>Algorithmics</p></a>
		</div>
		<div class="media-scroller" id="pop-videos">
			<div class="media-element"></div>
			<div class="media-element" ></div>
			<div class="media-element"></div>
			<div class="media-element"></div>
			<div class="media-element"></div>
		</div>
		<div id="forum"></div>
		<a id="Text-as-Data" class="sub-topic grid-col-span-2">
			<h2>Text as Data</h2>
			<div id="pre-learn">
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, nobis at. Ipsa vel ut assumenda modi culpa. Optio accusantium, vel praesentium voluptatum explicabo pariatur officia modi quas earum consectetur dolar . Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet voluptatum impedit fugit sit, corrupti rem, quam iusto, excepturi velit exercitationem atque consequuntur consectetur eum nam facilis? Minima asperiores quibusdam nemo!</p>
			</div>
			<div id="suggest-vid" class="media-scroller">
				<div class="media-element"></div>
				<div class="media-element" ></div>
				<div class="media-element"></div>
				<div class="media-element"></div>
				<div class="media-element"></div>
			</div>
		</a>
		<a id="Programming-Languages" class="sub-topic grid-col-span-2">
			<h2>Programming Languages</h2>
			<div id="suggest-vid" class="media-scroller">
				<div class="media-element"></div>
				<div class="media-element" ></div>
				<div class="media-element"></div>
				<div class="media-element"></div>
				<div class="media-element"></div>
			</div>
			<div id="pre-learn">
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, nobis at. Ipsa vel ut assumenda modi culpa. Optio accusantium, vel praesentium voluptatum explicabo pariatur officia modi quas earum consectetur dolar fyrufgkfg sjfghj Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam rem rerum voluptates architecto voluptatem, aut, asperiores est quod labore eius doloremque. Possimus aliquam doloremque nobis vero velit eius tempora rem..</p>
			</div>
		</a>
		<a id="Data-Fundamentals" class="sub-topic grid-col-span-2">
			<h2>Data Fundamentals</h2>
			<div id="pre-learn">
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, nobis at. Ipsa vel ut assumenda modi culpa. Optio accusantium, vel praesentium voluptatum explicabo pariatur officia modi quas earum consectetur dolar fyrufgkfg sjfghj Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam rem rerum voluptates architecto voluptatem, aut, asperiores est quod labore eius doloremque. Possimus aliquam doloremque nobis vero velit eius tempora rem..</p>
			</div>
			<div id="suggest-vid" class="media-scroller">
				<div class="media-element"></div>
				<div class="media-element" ></div>
				<div class="media-element"></div>
				<div class="media-element"></div>
				<div class="media-element"></div>
			</div>
		</a>
		<a id="Algorithmics"class="sub-topic grid-col-span-2 ">
			<h2>Algorithmics</h2>
			<div id="suggest-vid" class="media-scroller">
				<div class="media-element"></div>
				<div class="media-element" ></div>
				<div class="media-element"></div>
				<div class="media-element"></div>
				<div class="media-element"></div>
			</div>
			<div id="pre-learn">
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, nobis at. Ipsa vel ut assumenda modi culpa. Optio accusantium, vel praesentium voluptatum explicabo pariatur officia modi quas earum consectetur dolar fyrufgkfg sjfghj Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam rem rerum voluptates architecto voluptatem, aut, asperiores est quod labore eius doloremque. Possimus aliquam doloremque nobis vero velit eius tempora rem..</p>
			</div>
		</a>
	</div>
{% endblock %}
