<!DOCTYPE html>
{% load static %}
<html> 
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="{% static 'css/placeholder.css' %}">
		{% block extra_links %}

		{% endblock %}
		<title>
			TITLE: 
			{% block title_block %}
				base
			{% endblock %}
		</title>
	</head>


	<body>
		{% block navbar_block %}
			<div class="left-box">
				<div class="sidebar">
					<h2 class="sidebar-title">ANWERS</h2>
					<ul>
						<li class="horizontal-nav Home"><a href="{% url 'learn:astronomy' %}" class="main-link horizontal-button ">Home </a></li>
						<li class="horizontal-nav Topics"><a href="{% url 'learn:astronomy' %}" class=" main-link horizontal-button ">Topics </a>
							<div class="dropdown">
								<a href="#" class="nav-Computing">Computing Science</a>
								<a href="#" class="nav-Physics">Physics</a>
								<a href="#" class="nav-Maths">Maths</a>
								<a href="#" class="nav-Astro">Astronomy</a>
							</div>
						</li>
						<li><a class="main-link" href="#">Computing Science </a></li>
						<li><a class="main-link" href="#">Physics </a></li>
						<li><a class="main-link" href="#">Maths </a></li>
						<li><a class="main-link" href="{% url 'learn:astronomy' %}">Astronomy </a></li>
						
					</ul>
				</div>
			</div>
		{% endblock %}
		{% block body_block %}
		{% endblock %}
		</script>
	</body>

</html>