{% extends 'learn/base.html' %}
{% load static %}

{% block title_block %}
	Maths
{% endblock %}

{% block extra_links %}
	<link rel="stylesheet" href="{% static 'css/Maths.css' %}">
{% endblock %}

{% block body_block %}
	<div class="grid-container">
		<div class="topic-title grid-col-span-2"><h1>Maths</h1></div>
		<div class="index_sub grid-col-span-2 ">
			<a class="sub-sub-index" href="{% url 'learn:linear algebra' %}"><p>Linear Algebra</p></a>
			<a class="sub-sub-index" href="#Abstract-Algebra"><p>Abstract Algebra & Groups</p></a>
			<a class="sub-sub-index" href="#Real-Analysis"><p>Real Analysis</p></a>
			<a class="sub-sub-index" href="#Multivariable-Calculus"><p>Multivariable Calculus</p></a>
			<a class="sub-sub-index" href="#Mechanics"><p>Mechanics</p></a>
			<a class="sub-sub-index" href="#Mathematical-Methods"><p>Mathimatical Methods & Modelling</p></a>
		</div>

		<a class="sub-sub-topic ">
			<h2>Linear Algebra</h2>
			<div class="sub-sub-container">
				<span> video </span>
				<p class="sub-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, nobis at. Ipsa vel ut assumenda modi culpa. </p>
			</div>
		</a>
		<a class="sub-sub-topic ">
			<h2>Abstract Algebra & Groups</h2>
			<div class="sub-sub-container">
				<span> video </span>
				<p class="sub-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, nobis at. Ipsa vel ut assumenda modi culpa. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque id in sed consectetur quos excepturi harum expedita ipsa vero ut, ullam rem impedit quaerat perferendis a asperiores quis nisi optio!</p>				
			</div>
		</a>
		<a class="sub-sub-topic ">
			<h2>Real Analysis</h2>
			<div class="sub-sub-container">
				<span> video </span>
				<p class="sub-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, nobis at. Ipsa vel ut assumenda modi culpa.</p>
				
			</div>
		</a>
		<a class="sub-sub-topic ">
			<h2>Multivariable Calculus</h2>
			<div class="sub-sub-container">
				<span> video </span>
				<p class="sub-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, nobis at. Ipsa vel ut assumenda modi culpa.</p>				
			</div>
		</a>
		<a class="sub-sub-topic ">
			<h2>Mechanics</h2>
			<div class="sub-sub-container">
				<span> video </span>
				<p class="sub-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, nobis at. Ipsa vel ut assumenda modi culpa.</p>				
			</div>
		</a>
		<a class="sub-sub-topic ">
			<h2>Mathimatical Methods & Modelling</h2>
			<div class="sub-sub-container">
				<span> video </span>
				<p class="sub-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, nobis at. Ipsa vel ut assumenda modi culpa.</p>
			</div>
		</a>
	</div>
{% endblock %}
