{% extends 'learn/base.html' %}
{% load static %}

{% block title_block %}
	Physics
{% endblock %}

{% block body_block %}
	<div class="grid-container">
		<div class="topic-title grid-col-span-2"><h1>Physics</h1></div>
		<div class="index_phys grid-col-span-2 ">
			<a class="sub-sub" href="#Thermal-Physics"><img src="/static/Images/Thermal.png"><p>Thermal Physics</p></a>
			<a class="sub-sub" href="#Newtonian-Dynamics"><img src="/static/Images/Newtonian.png"><p>Newtonian Dynamics</p></a>
			<a class="sub-sub" href="#OS"><img src="/static/Images/Oscillating_Systems.png"><p>Oscillating Systems</p></a>
			<a class="sub-sub" href="#Electromagnetism"><img src="/static/Images/Electricity.png"><p>Electricity and Magnetism</p></a>
			<a class="sub-sub" href="#POS"><img src="/static/Images/POS.png"><p>Physics of Solids</p></a>
			<a class="sub-sub" href="#NPP"><img src="/static/Images/NPP.png"><p>Nuclear and Particle Physics</p></a>
			<a class="sub-sub" href="#Optics"><img src="/static/Images/Optics.png"><p>Optics</p></a>
			<a class="sub-sub" href="#Quantum-Waves"><img src="/static/Images/Quantum_Waves.png"><p>Quantum and Classical Waves</p></a>
		</div>
		<div class=" media-scroller " id="pop-videos">
			<div class="media-element"></div>
			<div class="media-element" ></div>
			<div class="media-element"></div>
			<div class="media-element"></div>
			<div class="media-element"></div>
		</div>
		<div id="forum"></div>
		<div id="Thermal-Physics" class="sub-topic grid-col-span-2 ">
			<h2>Thermal Physics</h2>
			<div id="pre-learn">
				<a href="#"><p>LEARN</p></a>
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, nobis at. Ipsa vel ut assumenda modi culpa. Optio accusantium, vel praesentium voluptatum explicabo pariatur officia modi quas earum consectetur dolar . Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet voluptatum impedit fugit sit, corrupti rem, quam iusto, excepturi velit exercitationem atque consequuntur consectetur eum nam facilis? Minima asperiores quibusdam nemo!</p>
			</div>
			<div id="suggest-vid" class="media-scroller">
				<div class="media-element"></div>
				<div class="media-element" ></div>
				<div class="media-element"></div>
				<div class="media-element"></div>
				<div class="media-element"></div>
			</div>
		</div>
		<div id="Newtonian-Dynamics" class="sub-topic grid-col-span-2 ">
			<h2>Newtonian Dynamics</h2>
			<div id="suggest-vid" class="media-scroller">
				<div class="media-element"></div>
				<div class="media-element" ></div>
				<div class="media-element"></div>
				<div class="media-element"></div>
				<div class="media-element"></div>
			</div>
			<div id="pre-learn">
				<a href="#"><p>LEARN</p></a>
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, nobis at. Ipsa vel ut assumenda modi culpa. Optio accusantium, vel praesentium voluptatum explicabo pariatur officia modi quas earum consectetur dolar fyrufgkfg sjfghj Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam rem rerum voluptates architecto voluptatem, aut, asperiores est quod labore eius doloremque. Possimus aliquam doloremque nobis vero velit eius tempora rem..</p>
			</div>
		</div>
		<div id="OS" class="sub-topic grid-col-span-2 ">
			<h2>Oscillating Systems</h2>
			<div id="pre-learn">
				<a href="#"><p>LEARN</p></a>
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, nobis at. Ipsa vel ut assumenda modi culpa. Optio accusantium, vel praesentium voluptatum explicabo pariatur officia modi quas earum consectetur dolar fyrufgkfg sjfghj Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam rem rerum voluptates architecto voluptatem, aut, asperiores est quod labore eius doloremque. Possimus aliquam doloremque nobis vero velit eius tempora rem..</p>
			</div>
			<div id="suggest-vid" class="media-scroller">
				<div class="media-element"></div>
				<div class="media-element" ></div>
				<div class="media-element"></div>
				<div class="media-element"></div>
				<div class="media-element"></div>
			</div>
		</div>
		<div id="Electromagnetism" class="sub-topic grid-col-span-2 ">
			<h2>Electricity and Magnetism</h2>
			<div id="suggest-vid" class="media-scroller">
				<div class="media-element"></div>
				<div class="media-element" ></div>
				<div class="media-element"></div>
				<div class="media-element"></div>
				<div class="media-element"></div>
			</div>
			<div id="pre-learn">
				<a href="#"><p>LEARN</p></a>
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, nobis at. Ipsa vel ut assumenda modi culpa. Optio accusantium, vel praesentium voluptatum explicabo pariatur officia modi quas earum consectetur dolar fyrufgkfg sjfghj Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam rem rerum voluptates architecto voluptatem, aut, asperiores est quod labore eius doloremque. Possimus aliquam doloremque nobis vero velit eius tempora rem..</p>
			</div>
		</div>
		<div id="NPP" class="sub-topic grid-col-span-2 ">
			<h2>Nuclear and Particle Physics</h2>
			<div id="pre-learn">
				<a href="#"><p>LEARN</p></a>
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, nobis at. Ipsa vel ut assumenda modi culpa. Optio accusantium, vel praesentium voluptatum explicabo pariatur officia modi quas earum consectetur dolar fyrufgkfg sjfghj Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam rem rerum voluptates architecto voluptatem, aut, asperiores est quod labore eius doloremque. Possimus aliquam doloremque nobis vero velit eius tempora rem..</p>
			</div>
			<div id="suggest-vid" class="media-scroller">
				<div class="media-element"></div>
				<div class="media-element" ></div>
				<div class="media-element"></div>
				<div class="media-element"></div>
				<div class="media-element"></div>
			</div>
		</div>
		<div id="POS" class="sub-topic grid-col-span-2 ">
			<h2>Physics of Solids</h2>
			<div id="suggest-vid" class="media-scroller">
				<div class="media-element"></div>
				<div class="media-element" ></div>
				<div class="media-element"></div>
				<div class="media-element"></div>
				<div class="media-element"></div>
			</div>
			<div id="pre-learn">
				<a href="#"><p>LEARN</p></a>
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, nobis at. Ipsa vel ut assumenda modi culpa. Optio accusantium, vel praesentium voluptatum explicabo pariatur officia modi quas earum consectetur dolar fyrufgkfg sjfghj Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam rem rerum voluptates architecto voluptatem, aut, asperiores est quod labore eius doloremque. Possimus aliquam doloremque nobis vero velit eius tempora rem..</p>
			</div>
		</div>
		<div id="Optics" class="sub-topic grid-col-span-2 ">
			<h2>Optics</h2>
			<div id="pre-learn">
				<a href="#"><p>LEARN</p></a>
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, nobis at. Ipsa vel ut assumenda modi culpa. Optio accusantium, vel praesentium voluptatum explicabo pariatur officia modi quas earum consectetur dolar fyrufgkfg sjfghj Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam rem rerum voluptates architecto voluptatem, aut, asperiores est quod labore eius doloremque. Possimus aliquam doloremque nobis vero velit eius tempora rem..</p>
			</div>
			<div id="suggest-vid" class="media-scroller">
				<div class="media-element"></div>
				<div class="media-element" ></div>
				<div class="media-element"></div>
				<div class="media-element"></div>
				<div class="media-element"></div>
			</div>
		</div>
		<div id="Quantum-Waves" class="sub-topic grid-col-span-2 ">
			<h2>Quantum and Classical Waves</h2>
			<div id="suggest-vid" class="media-scroller">
				<div class="media-element"></div>
				<div class="media-element" ></div>
				<div class="media-element"></div>
				<div class="media-element"></div>
				<div class="media-element"></div>
			</div>
			<div id="pre-learn">
				<a href="#"><p>LEARN</p></a>
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, nobis at. Ipsa vel ut assumenda modi culpa. Optio accusantium, vel praesentium voluptatum explicabo pariatur officia modi quas earum consectetur dolar fyrufgkfg sjfghj Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam rem rerum voluptates architecto voluptatem, aut, asperiores est quod labore eius doloremque. Possimus aliquam doloremque nobis vero velit eius tempora rem..</p>
			</div>
		</div>
	</div>
{% endblock %}
