
<!DOCTYPE html>
{% load static %}
<html> 
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="{% static 'css/register.css' %}">
		{% block extra_links %}
		{% endblock %}
		<title>
			Register
		</title>
	</head>


	<body>
	{% block body_block %}
		{% if registered %}
			<div id="registered-container">
				<span class="tick">
					<svg ><polyline points="10 53 45 90 100 20"></polyline></svg>
				</span>
				<p>Thank you for joining us!</p>
				<a href="{% url 'learn:learn_base' %}">Return Home</a>
			</div>	
		{% else %}
			<form id="register_form" method="post" action="{% url 'learn:user_register' %}">
				<div class="authentication-register-div">
					<h1>Register</h1>
					{% csrf_token %}
					{{ learner_user_form.as_p }}
					<input id="register-submit" type="submit" value="Register" />
				</div>
			</form>
		{% endif %}
	{% endblock %}	
	</body>

</html>