{% extends 'learn/base.html' %}
{% load static %}

{% block title_block %}
	Register
{% endblock %}

{% block extra_links %}
{% endblock %}

{% block body_block %}
	{% if registered %}
		<p>Thank you for joining us<br />
		<a href="{% url 'learn:learn_base' %}">Return to the homepage</a></p><br />
	{% else %}
		<form id="register_form" method="post" action="{% url 'learn:user_register' %}">
			<div class="authentication-register-div">
				{% csrf_token %}
				{{ learner_user_form.as_p }}
				<p class="p-login"><input type="submit" value="Register" /></p>
			</div>
		</form>
	{% endif %}
{% endblock %}