{% extends 'learn/base.html' %}
{% load static %}

{% block title_block %}
	{{ sub_topic_title }}
{% endblock %}

{% block extra_links %}
	<link rel="stylesheet" href="{% static 'css/topics_placeholder.css' %}">
	<link rel="stylesheet" href="{% static 'css/subtopics_placeholder.css' %}">
{% endblock %}

{% block body_block %}
    <div class="grid-container">
        <div class="topic-title grid-col-span-2"><h1>{{sub_topic_title}}</h1></div>
        <div class="index_sub grid-col-span-2 ">
        {% for x in sub_sub_topics %}
            <a class="sub-sub-index" href="{% url 'learn:linear algebra' %}"><p>{{x.title}}</p></a>
        {% endfor %}
        </div>
        {% for x in sub_sub_topics %}
        <a class="sub-sub-topic ">
            <h2>{{x.title}}</h2>
            <div class="sub-sub-container">
                <span> video </span>
                <p class="sub-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, nobis at. Ipsa vel ut assumenda modi culpa. </p>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}