<!DOCTYPE html>
<html> 
	<head>
		
		<link rel="stylesheet" href="design.css">
		
		<title>
            Design
		</title>
	</head>


	<body>
		<div class="grid">
			<div class="left-box">
				<div class="nav-bar">
					<img src="Group 1.svg" class="logo"></img>
					<ul class="nav-list">
						<li class="searchbar"><input type="text" placeholder="  Search..."></li>
						<li class="horizontal-nav home"><a href="{% url 'learn:astronomy' %}" class=" Home" >Home </a></li>
						<li class="horizontal-nav Topics"><a href="{% url 'learn:astronomy' %}" >Topics </a>
							<div class="dropdown">
								<a href="#" class="main-link nav-Computing">Computing Science</a>
								<a href="#" class="main-link nav-Physics">Physics</a>
								<a href="#" class="main-link nav-Maths">Maths</a>
							</div>
						</li>
						<li><a href="#">Computing Science </a></li>
						<li><a href="#">Physics </a></li>
						<li><a href="#">Maths </a></li>
					</ul>						
					
				</div>
			</div>
			<div class="main-content">
			</div>
		</div>		
	</body>

</html>